## -*- coding: utf-8 -*-
<!doctype html>
<html>
        <head>
                <meta charset="UTF-8" />
                <meta name="description" content="" />
                <meta name="keywords" content="" />
                <script type="text/javascript" src="/s/main.js"></script>
                <link href="/b/main.css" media="screen" rel="stylesheet" type="text/css" />

                <title>xiaoyezi.org</title>
        </head>

        <body>
                <div id="container">
                <%block name="header">
                        <div id="header">
                                <h1><a href="/">xiaoyezi.org</a></h1>
                                <h2>Coding since 2005.</h2>
                        </div>
                </%block>
                        <div id="header_bottom"></div>
                <%block name="topnavi">
                        <div id="menu">
                                <ul>
                                        % for item in menu_list:
                                        <div id="${item[2]}">
                                        <li ><a title="${item[0]}" href="${request_root}/${lang}/${item[0]}">${item[1]}</a></li>
                                        </div>
                                        % endfor
                                </ul>
                        </div>
                </%block>

                <%block name="leftbar">
                        <div id="leftmenu">
                                <div id="leftmenu_top"></div>

                                <div id="leftmenu_main">
                                        <ul>
                                                % for item in leftmenu_list:
                                                <div id="${item[3]}">
                                                <li><a href="${request_root}/${lang}/${category}/${item[0]}" title="${item[1]}">${item[2]}</a></li>
                                                </div>
                                                % endfor
                                        </ul>
                                </div>

                                <div id="leftmenu_bottom"></div>
                        </div>
                </%block>

                <%block name="mainbody">
                        <div id="content">
                                <div id="content_top"></div>

                                <div id="content_main">
                                    ${body}
                                </div>

                                <div id="content_bottom"></div>
                        </div>
                </%block>

                <%block name="bottomnavi">
                </%block>
                
                <%block name="footer">
                        <div id="footer">
                                <h3>&nbsp; &nbsp; <script type="text/javascript">document.write(recover_email("ivbzbohibpAhnbjm/dpn"));</script> &nbsp; &nbsp; 陕ICP备1201153号 &copy; 2012-2013 Hua Yanghao &nbsp; &nbsp; Last updated: ${update_time} </h3>
                        </div>
                </%block>
                </div>
        </body>
</html>
